extends /layout/tcap

block style
  meta(property="og:url", content=`${baseurl}tcap/`)

block content
  #app.container.my-4.text-monospace(v-cloak)
    h2.my-3.text-center 入園資訊
    .card.my-2
      .card-body.py-0
        ul.list-group.list-group-flush
          li.d-flex.list-group-item.px-0 入園日期
            small.ml-auto {{ order.date }}
          li.list-group-item.px-0 預定票數
            .pl-2
              .d-flex(v-if="order.tickets.normal")
                small.my-1 全票 - NT$30
                small.mx-1.ml-auto {{order.tickets.normal}} 張
              .d-flex(v-if="order.tickets.student")
                small.my-1 優待票（學生或 7~12 歲兒童）- NT$15
                small.mx-1.ml-auto {{order.tickets.student}} 張
              .d-flex(v-if="order.tickets.freeOld")
                small.my-1 免費票（長者或愛心及陪伴者）- NT$0
                small.mx-1.ml-auto {{order.tickets.freeOld}} 張
              .d-flex(v-if="order.tickets.free6")
                small.my-1 免費票（6 歲以下兒童）- NT$0
                small.mx-1.ml-auto {{order.tickets.free6}} 張
              .d-flex(v-if="order.tickets.freeOther")
                small.my-1 免費票（其他）- NT$0
                small.mx-1.ml-auto {{order.tickets.freeOther}} 張
          li.list-group-item.px-0 聯絡資訊
            .d-flex.flex-column.pl-2
              small.my-1 姓名: {{ order.ctx.name }}
              small.my-1 電話: {{ order.ctx.phone }}
              small.my-1 電子郵件: {{ order.ctx.email }}
    template(v-if="order.status === 'normal'")
      .d-flex.mx-n1.mt-2
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-danger(type="button", @click="btnCheckin") 確認入園
        a.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-success(href=`${baseurl}tcap/page-1-8.html`) 預約設施
      .d-flex.mx-n1.mt-2
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-primary(type="button", @click="btnShare") 分享行程
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-primary(type="button", @click="btnOrderDel") 取消預約
    template(v-else-if="order.status === 'early'")
      .d-flex.mx-n1.mt-2
        a.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-success(href=`${baseurl}tcap/page-1-8.html`) 預約設施
      .d-flex.mx-n1.mt-2
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-primary(type="button", @click="btnShare") 分享行程
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-primary(type="button", @click="btnOrderDel") 取消預約
    template(v-else-if="order.status === 'checked'")
      .d-flex.mx-n1.mt-2
        button.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-primary(type="button", @click="btnShare") 分享行程
        a.mx-1.my-0.btn.btn-sm.btn-block.btn-outline-success(href=`${baseurl}tcap/page-1-8.html`) 預約設施
    template(v-else-if="order.status === 'expired'")
      button.mt-2.btn.btn-sm.btn-block.btn-secondary(type="button", disabled) 已過期
      button.mt-2.btn.btn-sm.btn-block.btn-outline-danger(type="button", @click="btnOrderDel") 刪除紀錄
    .mt-auto.mb-3
      a.btn.btn-primary.btn-block.mt-2(href=`${baseurl}tcap/page-1-4.html`) 回預約紀錄

block script
  script.
    window.vm = new Vue({
      el: '#app',
      data: {
        order: {
          checkin: false,
          date: '2021-10-07',
          status: 'normal',
          tickets: {
            normal: 3,
            student: 2,
            free6: 1,
            freeOther: 1,
          },
          ctx: {
            name: 'xxx',
            phone: '09********',
            email: 'xxxxx@xxxx.com.tw',
          },
        },
      },
      methods: {
        async btnCheckin () {
          const result = await Swal.fire({
            cancelButtonText: '取消',
            denyButtonText: '入園',
            icon: 'warning',
            showCancelButton: true,
            showConfirmButton: false,
            showDenyButton: true,
            text: '點擊「入園」後，即認定您已入園',
            title: '請由工作人員操作',
          })
          if (!result.isDenied) return

          this.$set(this.order, 'checkin', true)
          location.href = 'page-3-3.html'
        },
        async btnOrderDel () {
          const order = this.order
          const text = order.status === 'expired' ? `是否要刪除 ${order.date} 的入園證明？` : `是否要取消 ${order.date} 的入園預約？`
          const result = await Swal.fire({
            cancelButtonColor: '#007bff',
            cancelButtonText: '否',
            confirmButtonColor: '#dc3545',
            confirmButtonText: '是',
            focusCancel: true,
            icon: 'warning',
            showCancelButton: true,
            text,
          })
          if (!result.value) return
          location.href = 'page-4-2.html'
        },
        async btnShare () {
          const url = new URL('https://liff.line.me/#{liffidTcap}')
          url.searchParams.set('redirect', window.encodeBase64url('/tcap/page-3-1.html'))
          location.href = url.href
          return await new Promise(resolve => {}) // 不會結束的 Promise
        },
      },
    })
